@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background-color: #001a1c;
  overflow: hidden;

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
